.graph-edge {
    stroke: black;
    stroke-width: 2;
}

.graph-edge.highlighted {
    stroke-width: 6;
}

.graph-node circle {
    fill: #cc9b6a;
    stroke: black;
    stroke-width: 2;
}

.graph-node .outline {
    fill: none;
}

.graph-node text {
    text-anchor: middle;
    font-size: 1.5em;
    transform: translate(0, 0.35em);
    pointer-events: none;
    fill: black;
}

.graph-node text.negative {
    fill: darkred;
}

#inputs {
    list-style: none;
}

#inputs li {
    padding-bottom: 0.5em;
}

body {
    font-family: sans-serif;
    text-align: center;
}

svg {
    border: 2px solid black;
    width: 80vh;
    height: 80vh;
    background-color: #cc9b6a;
}
